<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.masterriley.CaringCookieClub" android:versionName="1.0.4" android:versionCode="5">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Caring Cookie Club" android:icon="@drawable/icon"></application>
</manifest>